<script type="text/javascript">
    $(function () {
        _navigationControl = new Navigation();
    });
</script>

<header>
    <div class="base">
        <div class="lg-cont">
            <a href="/" class="lg-small" data-target="initial"><img src="images/logo-small.png" /></a>
            <a href="/" class="lg" data-target="initial"><img alt="Gonçalo Cardoso - Front End Developer" src="images/logo.png" /></a>
        </div>
        <nav>
            <a href="/greetings" data-target="greetings">Me</a>
            <a href="/profile" data-target="profile">Profile</a>
            <a href="/skills" data-target="skills">Skills</a>
            <a href="/work-education" data-target="workandeducation">Work & Education</a>
            <a href="/portfolio" data-target="portfolio">Portfolio</a>
            <a href="/twitter-wall" data-target="twitter-wall">Tweet this</a>
            <a href="/contact-me" data-target="contact">Contact</a>
        </nav>
    </div>
</header>