<!DOCTYPE HTML>
<!--[if IE 7]><html data-content="initial" class="ie7 no-anim" lang="en"><![endif]-->
<!--[if IE 8]><html data-content="initial" class="ie8 no-anim" lang="en"><![endif]-->
<!--[if IE 9]><html data-content="initial" class="ie9 no-anim" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html data-content="initial" lang="en-GB"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>gcardoso - Front End Developer</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,700italic' rel='stylesheet' type='text/css'>
    <link href='css/icons.css' rel='stylesheet' type='text/css'>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script><![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><script type="text/javascript" src="js/jquery-2.0.3.min.js"></script><!--<![endif]-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="components/socket.io-client/dist/socket.io.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/form-builder.min.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">


</head>

<body ng-app="gcardosoPortfolioApp">

<header>
    <div class="base">
        <div class="lg-cont">
            <a href="/" class="lg-small" data-target="initial"><img src="images/logo-small.png" /></a>
            <a href="/" class="lg" data-target="initial"><img alt="Gonçalo Cardoso - Front End Developer" src="images/logo.png" /></a>
        </div>
        <nav>
            <a href="/greetings" data-target="greetings">Me</a>
            <a href="/profile" data-target="profile">Profile</a>
            <a href="/skills" data-target="skills">Skills</a>
            <a href="/work-education" data-target="workandeducation">Work & Education</a>
            <a href="/portfolio" data-target="portfolio">Portfolio</a>
            <a href="/twitter-wall" data-target="twitter-wall">Tweet this</a>
            <a href="/contact-me" data-target="contact">Contact</a>
        </nav>
    </div>
</header>
<section class="banner" data-content="initial">
    <div class="base">
        <figure><img src="images/pic_banner.jpg" draggable="false" /></figure>
        <div class="balloon med anim"></div>
        <div class="balloon small anim"></div>
        <div class="balloon big anim">
            <div class="anim">
                <span class="w_frd">Frontend</span>
                <span class="w_htl">HTML</span>
                <span class="w_web">Web</span>
                <span class="w_seo">SEO</span>
                <span class="w_grn">Graceful degradation</span>
                <span class="w_ajx">AJAX</span>
                <span class="w_ang">angularjs</span>
                <span class="w_inn">Innovation</span>
                <span class="w_css">CSS</span>
                <span class="w_pee">performance</span>
                <span class="w_ui">UI</span>
                <span class="w_moe">Mobile</span>
                <span class="w_jat">Javascript</span>
                <span class="w_ree">responsive</span>
                <span class="w_inr">Internet Explorer</span>
                <span class="w_ux">UX</span>
                <span class="w_sy2">symfony2</span>
                <span class="w_nod">node.js</span>
                <span class="w_den">Design</span>
                <span class="w_che">Chrome</span>
                <span class="w_jqy">jQuery</span>
                <span class="w_opa">Opera</span>
                <span class="w_soa">Social media</span>
                <span class="w_fix">Firefox</span>
                <span class="w_lar">Laravel</span>
                <span class="w_prt">Progressive enhancement</span>
            </div>
        </div>
        <div class="button">
            <a href="/welcome" class="bt-down" data-target="greetings"><span></span></a>
            <p>or scroll down</p>
        </div>
    </div>
</section>

<section class="greetings" data-content="greetings" data-center="true">
    <div class="base">
        <figure><img src="images/pic_greetings.jpg" draggable="false" /></figure>
        <div class="text">
            <span class="g_hi">Hi!</span>
            <span class="g_my">My name is</span>
            <span class="g_go">Gonçalo</span>
            <span class="g_it">(it's said Gonsalo, not Goncalo)</span>
            <span class="g_ca">Cardoso</span>
            <span class="g_an">and i'm a</span>
            <span class="g_24">25</span>
            <span class="g_ye">year old portuguese</span>
            <span class="g_fr">Front End Developer</span>
            <span class="g_ni">Nice to meet you!</span>
        </div>
    </div>
</section>

<section class="profile" data-content="profile">
    <div class="base">
        <figure>
            <img src="images/pic_profile_1.png" />
            <img src="images/pic_profile_2.png" />
            <img src="images/pic_profile_3.png" />
            <img src="images/pic_profile_4.png" />
            <img src="images/pic_profile_5.png" />
            <img src="images/pic_profile_6.png" />
        </figure>
        <div class="info">
            <h2>Profile</h2>
            <h3>Fullname</h3>
            <p>Gonçalo Cardoso Borges Ferreira</p>
            <h3>Birth</h3>
            <p>7th August 1989</p>
            <h3>Address</h3>
            <p>Lisbon, Portugal</p>
            <h3>Nationality</h3>
            <p>Portuguese</p>
        </div>
    </div>
</section>

<section class="skills" data-content="skills">
    <div class="base">
        <div class="dev">
            <h2>Hard <span>skills</span></h2>
            <ul>
                <li>CSS3 & HTML5</li>
                <li>OO Javascript</li>
                <li>Social API’s</li>
                <li>SEO Techniques</li>
                <li>Responsive design</li>
                <li>UI & UX Design</li>
                <li>AJAX</li>
                <li>Progressive enhancement</li>
                <li>Graceful degradation</li>
                <li>Agile methodologies</li>
                <li>and..</li>
            </ul>
            <p>Working<br />to be<br /><strong>greater</strong></p>
        </div>

        <div class="pro">
            <h2>Soft <span>skills</span></h2>
            <ul>
                <li>Creativity</li>
                <li>Problem solving</li>
                <li>Teamwork</li>
                <li>Decision making</li>
                <li>Quick learning</li>
                <li>Time management</li>
                <li>Determination</li>
                <li>Responsibility</li>
                <li>Patience</li>
                <li>Work ethic</li>
                <li>and...</li>
            </ul>
            <p>Working<br />to be<br /><strong>stronger</strong></p>
        </div>

    </div>
</section>

<section class="quote">
    <div class="base">
        <blockquote>
            <p>Patience, Persistence and Perspiration<br />
                make an unbeatable combination<br /> for <strong>success</strong>.</p>
            <footer>Napoleon Hill</footer>
        </blockquote>
    </div>
</section>

<section class="work"  data-content="workandeducation">
    <div class="base">
        <h2>Work <span>& Education</span></h2>
        <div class="blc">
            <div class="meters">
                <span>1,68 meters</span>
            </div>
            <div class="timeline">
                <article>
                    <span title="Work">w</span>
                    <p>2013 - now</p>
                    <div class="line"><span></span></div>
                    <h3>Front end developer</h3>
                    <h4>StepValue - Web Intelligence</h4>
                    <ul>
                        <li>graceful degradation</li>
                        <li>Responsive development</li>
                        <li>Javascript object oriented programming</li>
                        <li>AngularJS, Kendo UI</li>
                        <li>Node.js</li>
                        <li>Laravel PHP framework (basics)</li>
                        <li>Single page applications</li>
                    </ul>
                </article>
                <article>
                    <span title="Work">w</span>
                    <p>2010 - 2013</p>
                    <div class="line"><span></span></div>
                    <h3>Front end developer</h3>
                    <h4>Portugal Telecom</h4>
                    <ul>
                        <li>HTML & CSS</li>
                        <li>Responsive design and development</li>
                        <li>Cross browser compatibility (IE7+)</li>
                        <li>Javascript framework jQuery (API, UI & Mobile)</li>
                        <li>Javascript object oriented programming</li>
                        <li>UX / UI design</li>
                        <li>SEO best practices</li>
                        <li>DotNetNuke skinning</li>
                    </ul>
                </article>
                {{-- <article>
                <span title="Work">w</span>
                <p>2008 - now</p>
                <div class="line"><span></span></div>
                <h3>Front end developer & Designer</h3>
                <h4>gcardoso - freelancer</h4>
                <ul>
                    <li>HTML, CSS & javascript</li>
                    <li>UI / UX design</li>
                    <li>Creative consulting</li>
                    <li>Graphic design</li>
                </ul>
            </article> --}}
                <article>
                    <span title="Work">w</span>
                    <p>2008</p>
                    <div class="line"><span></span></div>
                    <h3>Web designer intern</h3>
                    <h4>Finepaper®  - Graphic production agency</h4>
                    <ul>
                        <li>Actionscript 3.0</li>
                        <li>Graphic design</li>
                    </ul>
                </article>
                <article>
                    <span title="Education">e</span>
                    <p>2007 - 2010</p>
                    <div class="line"><span></span></div>
                    <h3>Bachelor in Multimedia Engineering</h3>
                    <h4>ISTEC</h4>
                    <ul>
                        <li>Final grade 15 / 20</li>
                    </ul>
                </article>
            </div>
            <figure><img src="images/pic_work.jpg" /></figure>
        </div>
    </div>
</section>

<section class="portfolio" data-content="portfolio">
    <div class="base">
        <h2>Portfolio <small>click and drag to more detail</small></h2>

        {{#portfolio}}
        <article>
            <figure><img src="{{image_url}}" data-big-image="{{full_image_url}}" alt="{{name}}" draggable="false" /></figure>
            <h3>{{ name }}</h3>
            <ul>
                {{#client}}
                <li><strong>client</strong>{{client}}</li>
                {{/client}}

                {{#start_date}}
                <li><strong>year</strong>{{start_date}} {{#end_date}} - {{end_date}} {{/end_date}}</li>
                {{/start_date}}

                {{#working_as}}
                <li><strong>working as</strong>{{working_as}}</li>
                {{/working_as}}

                {{#link}}
                <li><strong>project link</strong><a href="{{link}}" target="_blank" {{#link_title}} title="{{link_title}}" {{/link_title}}>{{link_text}}</a></li>
                {{/link}}
            </ul>
            <div class="magni"><span></span></div>
            <div class="dark"></div>
        </article>
        {{/portfolio}}

    </div>
</section>

<section class="twitter" data-content="twitter-wall" ng-controller="TwitterWall as twitter">

    <input name="tweetToken" id="tweetToken" type="hidden" value="{{token}}"/>

    <div class="base">

        <h3>My porfolio was proudly developed using<br /><em>MongoDB</em>, <em>AngularJS</em> and <em>NodeJS</em></h3>

        <div class="tweet-bt">
            <a href="http://twitter.com/share" ng-click="twitter.tweetThis($event)"><i class="icon-twitter"></i></a>
            <span>tweet this</span>
        </div>
        
        <div class="logos">
            <img src="images/mongodb_logo.png" alt="MongoDB" />
            <img src="images/angularjs_logo.png" alt="AngularJS"/>
            <img src="images/nodejs_logo.png" alt="Node.js"/>
        </div>

        <div class="tweet-list">

            <div class="tweet" data-ng-animate="animate" data-ng-class="[tweet.classname,tweet.position]" data-ng-repeat="tweet in twitter.list | reverse | limitTo : 14">
                <div data-ng-if="tweet.classname == 'tweet1' || tweet.classname == 'tweet3' || tweet.classname == 'tweet4'">
                <!--<h1>[[tweet.name]] - [[tweet.username]]</h1>-->
                <!--<h2>[[tweet.date]]</h2>-->
                    <div class="msg" data-ng-bind-html="tweet.text"></div>
                    <div class="img">
                        <div class="pic">
                            <img data-ng-src="[[tweet.image]]" data-ng-show="[[tweet.imageVisible]]" />
                        </div>
                    </div>
                </div>
                <div data-ng-if="tweet.classname == 'tweet2' || tweet.classname == 'tweet5'">
                    <!--<h1>[[tweet.name]] - [[tweet.username]]</h1>-->
                    <!--<h2>[[tweet.date]]</h2>-->
                    <div class="img">
                        <div class="pic">
                            <img data-ng-src="[[tweet.image]]" data-ng-show="[[tweet.imageVisible]]" />
                        </div>
                    </div>
                    <div class="msg" data-ng-bind-html="tweet.text"></div>
                </div>
            </div>

        </div>

    </div>

</section>

<section class="contact" data-content="contact">
    <div class="base">
        <h2>Contact<span> me</span></h2>
        <div class="network">
            <a href="http://pt.linkedin.com/pub/gonçalo-cardoso-b-ferreira/2a/b52/728" target="_blank" class="in" title="LinkedIn profile"><i class="icon-linkedin"></i></a>
            <a href="skype:gcardoso89" class="sk" title="Skype"><i class="icon-skype"></i></a>
            <a href="mailto:goncalo@gcardoso.net" class="em" title="Email"><i class="icon-mail"></i></a>
            <a href="docs/GoncaloCardoso_CV_2014_EN.pdf" target="_blank" class="cv" title="CV"><i class="icon-cv"></i></a>
            <a href="http://www.facebook.com/gon.cardo" target="_blank" class="fb" title="Facebook"><i class="icon-facebook"></i></a>
            <form>
                <h3>Write me something</h3>
                <div class="form">
                    <div class="ln">
                        <label for="nameFieldInput" id="nameFieldLabel">Name</label>
                        <input name="name" type="text" id="nameFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="companyFieldInput" id="companyFieldLabel">Company</label>
                        <input name="company" type="text" id="companyFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="emailFieldInput" id="emailFieldLabel">Email</label>
                        <input name="email" type="text" id="emailFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="subjectFieldInput" id="subjectFieldLabel">Subject</label>
                        <input name="subject" type="text" id="subjectFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="messageFieldTextarea" id="messageFieldLabel">Message</label>
                        <textarea name="message" type="text" id="messageFieldTextarea"></textarea>
                        <div class="err"></div>
                    </div>
                    <input type="submit" id="formSubmitButton" value="Send" />
                </div>
            </form>

        </div>
    </div>
</section>

<footer>
    <div class="base">
        <h3>Thank you <br /><span>for your time!</span></h3>
        <figure><img src="images/pic_footer.jpg" alt="Go back" /></figure>
        <div class="button">
            <a href="/" class="bt-up" data-target="initial"><span></span></a>
            <p>go back</p>
        </div>
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-54124912-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
