/* Base */

#awwwards{
	position: absolute;
	width: 126px;
	height: 126px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 5;

	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}

#awwwards.top{
	top: 0;
}
#awwwards.bottom{
	bottom: 0;
}
#awwwards.left{
	left: 0;
}
#awwwards.right{
	right: 0;
}

#awwwards a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 126px;
	height: 126px;
	background-repeat: no-repeat;
	background-position: 4px -23px;
	background-size: 145px 145px;
}

#awwwards.top.left a{
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); 
}
#awwwards.bottom.left a{
	background-position: -23px 4px;
}
#awwwards.bottom.right a{
	background-position: -23px 4px;

	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); 
}

/* NOMINEE */

#awwwards.honorable.black a{
	background-image: url(../images/ribbons/awwwards_honorable_black.png);
}
#awwwards.honorable.silver a{
	background-image: url(../images/ribbons/awwwards_honorable_silver.png);
}
#awwwards.honorable.white a{
	background-image: url(../images/ribbons/awwwards_honorable_white.png);
}
#awwwards.honorable.green a{
	background-image: url(../images/ribbons/awwwards_honorable_green.png);
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2),	only screen and (min-device-pixel-ratio: 1.5) {

	/* NOMINEE */

	#awwwards.honorable.black a{
		background-image: url(../images/ribbons/awwwards_honorable_black@2x.png);
	}
	#awwwards.honorable.silver a{
		background-image: url(../images/ribbons/awwwards_honorable_silver@2x.png);
	}
	#awwwards.honorable.white a{
		background-image: url(../images/ribbons/awwwards_honorable_white@2x.png);
	}
	#awwwards.honorable.green a{
		background-image: url(../images/ribbons/awwwards_honorable_green@2x.png);
	}

}