.w_frd {
    left: 68px;
    top: 108px;
}
.w_htl {
    left: 174px;
    top: 106px;
}
.w_web {
    left: 271px;
    top: 139px;
}
.w_seo {
    left: 323px;
    top: 121px;
}
.w_grn {
    left: 13px;
    top: 139px;
}
.w_ajx {
    left: 30px;
    top: 176px;
}
.w_usy {
    left: 80px;
    top: 145px;
}
.w_inn {
    left: 311px;
    top: 163px;
}
.w_css {
    left: 7px;
    top: 179px;
}
.w_pee {
    left: 135px;
    top: 206px;
}
.w_ui {
    left: 294px;
    top: 197px;
}
.w_moe {
    left: 326px;
    top: 194px;
}
.w_ree {
    left: 132px;
    top: 224px;
}
.w_foe {
    left: 326px;
    top: 244px;
}
.w_inr {
    left: 45px;
    top: 269px;
}
.w_ux {
    left: 206px;
    top: 255px;
}
.w_jat {
    left: 268px;
    top: 269px;
}
.w_age {
    left: 364px;
    top: 268px;
}
.w_den {
    left: 0px;
    top: 288px;
}
.w_che {
    left: 126px;
    top: 297px;
}
.w_jqy {
    left: 240px;
    top: 305px;
}
.w_opa {
    left: 308px;
    top: 298px;
}
.w_soa {
    left: 93px;
    top: 333px;
}
.w_fix {
    left: 203px;
    top: 331px;
}
.w_doe {
    left: 291px;
    top: 318px;
}
.w_prt {
    left: 84px;
    top: 361px;
}