@font-face {
	font-family: 'gcardoso';
	src:url('fonts/gcardoso.eot?236hmn');
	src:url('fonts/gcardoso.eot?#iefix236hmn') format('embedded-opentype'),
		url('fonts/gcardoso.woff?236hmn') format('woff'),
		url('fonts/gcardoso.ttf?236hmn') format('truetype'),
		url('fonts/gcardoso.svg?236hmn#gcardoso') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gcardoso';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e603";
}
.icon-skype:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-cv:before {
	content: "\e607";
}
