<section class="banner" data-content="initial">
    <div class="base">
        <figure><img src="images/pic_banner.jpg" draggable="false" alt="gcardoso thinking" /></figure>
        <div class="balloon med anim"></div>
        <div class="balloon small anim"></div>
        <div class="balloon big anim">
            <div class="anim">
                <span class="w_frd">Frontend</span>
                <span class="w_htl">HTML</span>
                <span class="w_web">Web</span>
                <span class="w_seo">SEO</span>
                <span class="w_grn">Graceful degradation</span>
                <span class="w_ajx">AJAX</span>
                <span class="w_ang">angularjs</span>
                <span class="w_inn">Innovation</span>
                <span class="w_css">CSS</span>
                <span class="w_pee">performance</span>
                <span class="w_ui">UI</span>
                <span class="w_moe">Mobile</span>
                <span class="w_jat">Javascript</span>
                <span class="w_ree">responsive</span>
                <span class="w_inr">Internet Explorer</span>
                <span class="w_ux">UX</span>
                <span class="w_sy2">symfony2</span>
                <span class="w_nod">node.js</span>
                <span class="w_den">Design</span>
                <span class="w_che">Chrome</span>
                <span class="w_jqy">jQuery</span>
                <span class="w_opa">Opera</span>
                <span class="w_soa">Social media</span>
                <span class="w_fix">Firefox</span>
                <span class="w_lar">Laravel</span>
                <span class="w_prt">Progressive enhancement</span>
            </div>
        </div>
        <div class="button">
            <a href="/welcome" class="bt-down" data-target="greetings"><span></span></a>
            <p>or scroll down</p>
        </div>
    </div>
</section>
