<script type="text/javascript">
    $(function () {
        _scrollControl = new ScrollControler();
        _contactForm = new ContactForm();
    });
</script>

<section class="contact" data-content="contact">
    <div class="base">
        <h2>Contact<span> me</span></h2>
        <div class="network">
            <a href="http://pt.linkedin.com/pub/gonçalo-cardoso-b-ferreira/2a/b52/728" target="_blank" class="in" title="LinkedIn profile"><i class="icon-linkedin"></i></a>
            <a href="skype:gcardoso89" class="sk" title="Skype"><i class="icon-skype"></i></a>
            <a href="mailto:goncalo@gcardoso.net" class="em" title="Email"><i class="icon-mail"></i></a>
            <a href="docs/GoncaloCardoso_CV_2014_EN.pdf" target="_blank" class="cv" title="CV"><i class="icon-cv"></i></a>
            <a href="http://www.facebook.com/gon.cardo" target="_blank" class="fb" title="Facebook"><i class="icon-facebook"></i></a>
            <form>
                <div class="form">
                    <h3>Write me something</h3>
                    <input name="token" type="hidden" value="{{token}}"/>
                    <input type="hidden" name="country" value="{{country}}" />
                    <div class="ln">
                        <label for="nameFieldInput" id="nameFieldLabel">Name</label>
                        <input name="name" type="text" placeholder="Name" id="nameFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="emailFieldInput" id="emailFieldLabel">Email</label>
                        <input name="email" type="text" placeholder="Email" id="emailFieldInput" />
                        <div class="err"></div>
                    </div>
                    <div class="ln">
                        <label for="messageFieldTextarea" id="messageFieldLabel">Message</label>
                        <textarea name="message" type="text" placeholder="Message" id="messageFieldTextarea"></textarea>
                        <div class="err"></div>
                    </div>
                    <input type="submit" id="formSubmitButton" value="Send" />
                </div>
                <div class="success-block">
                    <div><em>Thank you!</em><span>We'll be in touch</span></div>
                </div>
            </form>

        </div>
    </div>
</section>