<section class="greetings" data-content="greetings" data-center="true">
    <div class="base">
        <div class="text">
            <span class="g_hi">Hi!</span>
            <span class="g_my">My name is</span>
            <span class="g_go">Gonçalo</span>
            <span class="g_it">(it's said Gonsalo, not Goncalo)</span>
            <span class="g_ca">Cardoso</span>
            <span class="g_an">and i'm a</span>
            <span class="g_24">25</span>
            <span class="g_ye">year old portuguese</span>
            <span class="g_fr">Front End Developer</span>
            <span class="g_ni">Nice to meet you!</span>
        </div>
        <figure><img src="images/pic_greetings.jpg" draggable="false" /></figure>
    </div>
</section>