<section id="profile" class="profile" data-content="profile">
    <script type="text/javascript">
        $(function(){
            _profileGallery = new ProfileGallery();
        });
    </script>
    <div class="base">
        <figure>
            <img src="images/pic_profile_1.png" alt="gcardoso's profile gallery - picture 1" />
            <img src="images/pic_profile_2.png" alt="gcardoso's profile gallery - picture 2" />
            <img src="images/pic_profile_3.png" alt="gcardoso's profile gallery - picture 3" />
            <img src="images/pic_profile_4.png" alt="gcardoso's profile gallery - picture 4" />
            <img src="images/pic_profile_5.png" alt="gcardoso's profile gallery - picture 5" />
            <img src="images/pic_profile_6.png" alt="gcardoso's profile gallery - picture 6" />
        </figure>
        <div class="info">
            <h2>Profile</h2>
            <h3>Fullname</h3>
            <p>Gonçalo Cardoso Borges Ferreira</p>
            <h3>Birth</h3>
            <p>7th August 1989</p>
            <h3>Address</h3>
            <p>Lisbon, Portugal</p>
            <h3>Nationality</h3>
            <p>Portuguese</p>
        </div>
    </div>
</section>