<section class="skills" data-content="skills">
    <div class="base">
        <div class="dev">
            <h2>Hard <span>skills</span></h2>
            <ul>
                <li>CSS3 & HTML5</li>
                <li>OO Javascript</li>
                <li>Social API’s</li>
                <li>SEO Techniques</li>
                <li>Responsive design</li>
                <li>UI & UX Design</li>
                <li>AJAX</li>
                <li>Progressive enhancement</li>
                <li>Graceful degradation</li>
                <li>Agile methodologies</li>
                <li>and..</li>
            </ul>
            <p>Working<br />to be<br /><strong>greater</strong></p>
        </div>

        <div class="pro">
            <h2>Soft <span>skills</span></h2>
            <ul>
                <li>Creativity</li>
                <li>Problem solving</li>
                <li>Teamwork</li>
                <li>Decision making</li>
                <li>Quick learning</li>
                <li>Time management</li>
                <li>Determination</li>
                <li>Responsibility</li>
                <li>Patience</li>
                <li>Work ethic</li>
                <li>and...</li>
            </ul>
            <p>Working<br />to be<br /><strong>stronger</strong></p>
        </div>

    </div>
</section>

<section class="quote">
    <div class="base">
        <blockquote>
            <p>Patience, Persistence and Perspiration<br />
                make an unbeatable combination<br /> for <strong>success</strong>.</p>
            <footer>Napoleon Hill</footer>
        </blockquote>
    </div>
</section>