<section class="twitter" data-content="twitter-wall" data-ng-controller="TwitterWall as twitter">

    <input name="tweetToken" id="tweetToken" type="hidden" value="{{token}}"/>

    <div class="base">

        <h3>My porfolio was proudly developed using<br /><em>MongoDB</em>, <em>AngularJS</em> and <em>NodeJS</em></h3>

        <div class="tweet-bt">
            <a href="http://twitter.com/share" data-ng-click="twitter.tweetThis($event)"><i class="icon-twitter"></i></a>
            <span>tweet this</span>
        </div>

        <div class="logos">
            <img src="images/mongodb_logo.png" alt="MongoDB" />
            <img src="images/angularjs_logo.png" alt="AngularJS"/>
            <img src="images/nodejs_logo.png" alt="Node.js"/>
        </div>

        <div class="tweet-list">

            <div class="tweet" data-ng-animate="animate" data-ng-class="[tweet.classname,tweet.position]" data-ng-repeat="tweet in twitter.list | reverse | limitTo : 14">
                <div data-ng-if="tweet.classname == 'tweet1' || tweet.classname == 'tweet3' || tweet.classname == 'tweet4'">
                    <!--<h1>[[tweet.name]] - [[tweet.username]]</h1>-->
                    <!--<h2>[[tweet.date]]</h2>-->
                    <div class="msg" data-ng-bind-html="tweet.text"></div>
                    <div class="img">
                        <div class="pic">
                            <a href="http://www.twitter.com/[[data.user.screen_name]]"><img data-ng-src="[[tweet.image]]" data-ng-show="[[tweet.imageVisible]]" /></a>
                        </div>
                    </div>
                </div>
                <div data-ng-if="tweet.classname == 'tweet2' || tweet.classname == 'tweet5'">
                    <!--<h1>[[tweet.name]] - [[tweet.username]]</h1>-->
                    <!--<h2>[[tweet.date]]</h2>-->
                    <div class="img">
                        <div class="pic">
                            <img data-ng-src="[[tweet.image]]" data-ng-show="[[tweet.imageVisible]]" />
                        </div>
                    </div>
                    <div class="msg" data-ng-bind-html="tweet.text"></div>
                </div>
            </div>

        </div>

    </div>

</section>