<section id="twitter-wall" class="twitter" data-content="twitter-wall" data-ng-controller="TwitterWall as twitter">

    <input name="tweetToken" id="tweetToken" type="hidden" value="{{token}}"/>

    <div class="base">

        <h2><i class="icon-twitter"></i> <span>Live</span> Twitter wall</h2>

        <h3>Click "tweet" or tweet something with the hastag <strong>#gcardoso</strong>.</h3>

        <div class="tweet-bt">
            <a href="http://twitter.com/share" data-ng-click="twitter.tweetThis($event)"><i class="icon-twitter"></i><br />tweet</a>
            <span>and join the wall</span>
        </div>

        <div class="big-tweet tweet">
            <div class="tweet1">
                <div class="msg">Check out the new <em>@goncalocardo_o</em>’s portfolio,
                    developed using <em>#MongoDB</em>,
                    <em>#AngularJS</em> and <em>#NodeJs</em>.
                    <em>#gcardoso</em>
                    <a href="http://gcardoso.pt" target="_blank">http://gcardoso.pt</a>
                </div>
                <div class="img"></div>
            </div>
        </div>

        <div class="tweet-list">

            <div class="tweet" data-ng-animate="animate" data-ng-class="[tweet.classname,tweet.position]" data-ng-repeat="tweet in twitter.list | reverse | limitTo : 14">
                <div data-ng-if="tweet.classname == 'tweet1' || tweet.classname == 'tweet3' || tweet.classname == 'tweet4'">
                    <!--<h1>[[tweet.name]] - [[tweet.username]]</h1>-->
                    <!--<h2>[[tweet.date]]</h2>-->
                    <div class="msg" data-ng-bind-html="tweet.text"></div>
                    <div class="img">
                        <div class="pic">
                            <a href="[[tweet.tweeturl]]" target="_blank"><img data-ng-src="[[tweet.image]]" data-ng-show="[[tweet.imageVisible]]" /></a>
                        </div>
                    </div>
                </div>
                <div data-ng-if="tweet.classname == 'tweet2' || tweet.classname == 'tweet5'">
                    <!--<h1>[[tweet.name]] - [[tweet.username]]</h1>-->
                    <!--<h2>[[tweet.date]]</h2>-->
                    <div class="img">
                        <div class="pic">
                            <a href="[[tweet.tweeturl]]" target="_blank"><img data-ng-src="[[tweet.image]]" data-ng-show="[[tweet.imageVisible]]" /></a>
                        </div>
                    </div>
                    <div class="msg" data-ng-bind-html="tweet.text"></div>
                </div>
            </div>

        </div>

    </div>

</section>