<section id="work-education" class="work"  data-content="workandeducation">
    <div class="base">
        <h2>Work <span>& Education</span></h2>
        <div class="blc">
            <div class="meters">
                <span>1,68 meters</span>
            </div>
            <div class="timeline">
                <article>
                    <span title="Work">w</span>
                    <p>2013 - now</p>
                    <div class="line"><span></span></div>
                    <h3>Front end developer</h3>
                    <h4>StepValue - Web Intelligence</h4>
                    <ul>
                        <li>graceful degradation</li>
                        <li>Responsive development</li>
                        <li>Javascript object oriented programming</li>
                        <li>AngularJS, Kendo UI</li>
                        <li>Node.js</li>
                        <li>Laravel PHP framework (basics)</li>
                        <li>Single page applications</li>
                    </ul>
                </article>
                <article>
                    <span title="Work">w</span>
                    <p>2010 - 2013</p>
                    <div class="line"><span></span></div>
                    <h3>Front end developer</h3>
                    <h4>Portugal Telecom</h4>
                    <ul>
                        <li>HTML & CSS</li>
                        <li>Responsive design and development</li>
                        <li>Cross browser compatibility (IE7+)</li>
                        <li>Javascript framework jQuery (API, UI & Mobile)</li>
                        <li>Javascript object oriented programming</li>
                        <li>UX / UI design</li>
                        <li>SEO best practices</li>
                        <li>DotNetNuke skinning</li>
                    </ul>
                </article>
                <article>
                    <span title="Work">w</span>
                    <p>2008</p>
                    <div class="line"><span></span></div>
                    <h3>Web designer intern</h3>
                    <h4>Finepaper®  - Graphic production agency</h4>
                    <ul>
                        <li>Actionscript 3.0</li>
                        <li>Graphic design</li>
                    </ul>
                </article>
                <article>
                    <span title="Education">e</span>
                    <p>2007 - 2010</p>
                    <div class="line"><span></span></div>
                    <h3>Bachelor in Multimedia Engineering</h3>
                    <h4>ISTEC</h4>
                    <ul>
                        <li>Final grade 15 / 20</li>
                    </ul>
                </article>
            </div>
            <figure><img src="images/pic_work.jpg" alt="Big gcardoso!" /></figure>
        </div>
    </div>
</section>